* {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
li,
p {
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ab;
}

h1 {
  font-size: 26px;
  text-transform: capitalize;
  font-style: italic;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

footer p {
  font-size: 16px;
}

article header p {
  font-style: italic;
}

ul {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  border: 5px solid #1098ab;
}
